<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>15.5</string>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>CFBundleName</key>
    <string>SchoolSoftEva</string>
    <key>DTSDKName</key>
    <string>iphoneos15.5</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>SchoolSoft behöver tillgång till dina bilder.</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>FirebaseCrashlyticsCollectionEnabled</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon20x20</string>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon57x57</string>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleLightContent</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleDisplayName</key>
    <string>SchoolSoft</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>bankid</string>
      <string>idp</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>SchoolSoft kan behöva tillgång till din plats.</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
    </array>
    <key>DTSDKBuild</key>
    <string>19F64</string>
    <key>NSCameraUsageDescription</key>
    <string>SchoolSoft behöver tillgång till kameran.</string>
    <key>CFBundleShortVersionString</key>
    <string>2.3.14</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>SchoolSoft kan behöva tillgång till din plats.</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>21D62</string>
    <key>DTPlatformBuild</key>
    <string>19F64</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>MinimumOSVersion</key>
    <string>9.0</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>DTXcodeBuild</key>
    <string>13F100</string>
    <key>CFBundleVersion</key>
    <string>4</string>
    <key>UIAppFonts</key>
    <array>
      <string>Lato-Black.ttf</string>
      <string>Lato-BlackItalic.ttf</string>
      <string>Lato-Bold.ttf</string>
      <string>Lato-BoldItalic.ttf</string>
      <string>Lato-Hairline.ttf</string>
      <string>Lato-HairlineItalic.ttf</string>
      <string>Lato-Italic.ttf</string>
      <string>Lato-Light.ttf</string>
      <string>Lato-LightItalic.ttf</string>
      <string>Lato-Regular.ttf</string>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>SchoolSoft behöver tillgång till mikrofonen.</string>
    <key>CFBundleIdentifier</key>
    <string>se.schoolsoft.ios</string>
    <key>DTXcode</key>
    <string>1341</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>localhost</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>CFBundleExecutable</key>
    <string>SchoolSoftEva</string>
    <key>firebase_json_raw</key>
    <string>e30=</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon20x20</string>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon57x57</string>
          <string>AppIcon60x60</string>
          <string>AppIcon50x50</string>
          <string>AppIcon72x72</string>
          <string>AppIcon76x76</string>
          <string>AppIcon83.5x83.5</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>se.schoolsoft.ios</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>schoolsoft</string>
        </array>
      </dict>
    </array>
    <key>DTAppStoreToolsBuild</key>
    <string>14A305</string>
  </dict>
</plist>
